.results-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 0.9375rem;
  width: 95%;
  max-width: 48rem;
  padding: 1.5625rem;
  border-radius: 0.3125rem;
  margin: 1.25rem auto;
  background: rgb(230, 230, 230);
}
.results-section h1 {
  color: rgb(0, 0, 44);
  text-shadow: 0.3px 0px 1.4px black;
  text-align: center;
  font-size: 1.75rem;
}
.results-section ul {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.results-section ul li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.3125rem;
  background: rgb(201, 201, 201);
  padding: 0.3125rem 0.5rem;
  border-radius: 0.3125rem;
}
.results-section ul li span {
  display: inline-block;
  font-size: 1.1875rem;
  font-weight: 600;
}
@media (max-width: 30rem) {
  .results-section ul li span {
    font-size: 1rem;
  }
}
.results-section ul li span:nth-child(1) {
  padding-top: 0.3125rem;
}
.results-section p {
  font-size: 1.3125rem;
  font-weight: 600;
}
