@use 'functions_mixins' as *;

.form-wrapper{
    padding-top: rem(30);
    width: 95%;
    max-width: rem(480);
    margin: auto;
}

.form-content{
    width: 100%;
    background: rgb(223, 223, 223);
    padding: rem(25);
    border-radius: rem(5);
}