@use "functions_mixins" as *;

.user-form {
  @include flex(flex-start, center, rem(20), column);
  label {
    font-size: rem(19);
    color: rgb(31, 31, 31);
    width: 90%;
    @include flex(flex-start, center, rem(5), column);
    input {
      padding: rem(5);
      font-size: rem(18);
      color: rgb(31, 31, 31);
      border: 2px solid rgb(0, 68, 100);
      border-radius: rem(5);
      width: 100%;
    }
    .error-message{
        color: red;
        font-size: rem(14);
    }
  }

  button {
    display: block;
    width: 65%;
    background: rgb(0, 85, 0);
    padding: rem(5);
    text-align: center;
    color: rgb(224, 224, 224);
    text-shadow: 0.5px 0.7px 2px black;
    border-radius: rem(5);
    font-size: rem(20);
    margin: auto;
    cursor: pointer;
    transition: all 150ms linear;
    &:hover {
      filter: brightness(1.2);
    }
  }
}
