/* ====== CSS Reset ====== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li,
fieldset,
legend,
pre,
code {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove border on images, buttons, inputs */
img,
button,
input,
select,
textarea {
  border: none;
}

/* Set images to display block and scale nicely */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Smooth font rendering */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset button and input styles */
button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
}

/* Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations for reduced-motion users */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

@font-face {
  font-family: "Inter";
  src: url("/Inter-VariableFont_opsz,wght.ttf");
}

body {
  background: url("./assets/PE.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}
